* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  background-image: linear-gradient(#96aa99, #5c715e, #ddeedf);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 1020px;
  margin: 20px auto;
  padding: 20px;
  min-height: 100vh;
  gap: 20px;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 10%;
  max-width: 100%;
}

h1 {
  text-transform: capitalize;
  font-size: 2rem;
  color: rgb(9, 56, 56);
  text-align: center;
}

p {
  font-size: 25px;
  color: rgb(9, 56, 56);
  text-transform: capitalize;
  text-align: center;
}

div {
  text-align: center;
}

.item {
  width: 500px;
  max-width: 100%;
  background-origin: border-box;
  border-radius: 10%;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(9, 56, 56);
}

.nextpagelink,
.prevpagelink {
  font-size: 2rem;
  margin-bottom: 70px;
}

.nextpagelink {
  align-self: flex-end;
}

.prevpagelink {
  align-self: flex-start;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: rgb(16, 100, 100);
}

a:hover {
  color: rgb(9, 56, 56);
  text-decoration: underline;
}


@media (max-width: 768px) {
  img {
    height: 250px;
    width: 250px;
  }

  h1 {
    font-size: 1.7rem;
  }

  p {
    font-size: 20px;
  }

  .item {
    width: 90%;
  }

  .nextpagelink,
  .prevpagelink {
    font-size: 1.7rem;
  }
}



@media (max-width: 480px) {
  img {
    height: 200px;
    width: 200px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 18px;
  }

  .item {
    padding: 15px;
    border-radius: 12px;
  }

  .nextpagelink,
  .prevpagelink {
    font-size: 1.4rem;
    margin-bottom: 40px;
  }
}
